.list-view .list-cell:even {
-fx-background-color: #e8ebef;
-fx-text-fill: black;
}
.list-view .list-cell:odd {
-fx-background-color: white;
-fx-text-fill: black;
}

.list-view:focused >  .list-view:selected .focus-indicator {
	-fx-border-color: red
}