.list-view {
    -fx-padding: 3px ;
    -fx-background-color: transparent;
    -fx-border-color: lightgrey;
    -fx-border-radius: 5;
}

.list-cell {
    -fx-padding: 8px ;
    -fx-background-color: transparent, white;
    -fx-background-insets: 0px, 2px ;
    -fx-background-radius: 5;
	-fx-border-insets: 2px;
	-fx-border-color: lightgrey;
	-fx-border-radius: 5;
}

.list-cell:hover {
    -fx-border-color: #9ec3ff
}

.list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent;
    -fx-background-insets: 0 ;
    -fx-border-color: transparent;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-padding: 8px ;
    -fx-background-color: transparent, white;
    -fx-border-color: #9ec3ff;
    -fx-border-width: 2px;
    -fx-background-insets: 0px, 2px ;
    -fx-background-radius: 5;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected .titleText{
	-fx-text-fill: black;
	-fx-font-weight: bold;
}

.bonusMsgWarning{
	-fx-text-fill: darkorange;
	-fx-font-weight: normal;
}

.bonusMsgNice{
	-fx-text-fill: darkgreen;
	-fx-font-weight: normal;
}

.titleMsg{
	-fx-text-fill: dimgray;
	-fx-font-weight: normal;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected .subText{
	-fx-text-fill: grey;
	-fx-font-weight: normal;
}

.editButton{
	-fx-pref-height: 38px;
    -fx-pref-width: 38px;
    -fx-background-image: url('./images/edit.png');
    -fx-background-size: 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}

.deleteButton{
	-fx-pref-height: 38px;
    -fx-pref-width: 38px;
    -fx-background-image: url('./images/bin.png');
    -fx-background-size: 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}

.iconOk{
	-fx-pref-height: 20px;
    -fx-pref-width: 20px;
	-fx-background-image: url('./images/ok.png');
    -fx-background-size: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 60%;
}

.iconTime{
	-fx-pref-height: 20px;
    -fx-pref-width: 40px;
	-fx-background-image: url('./images/clock.png');
    -fx-background-size: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
}

.iconWarning{
	-fx-pref-height: 20px;
    -fx-pref-width: 40px;
	-fx-background-image: url('./images/warning.png');
    -fx-background-size: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 60%;
}

.iconHome{
	-fx-pref-height: 20px;
    -fx-pref-width: 20px;
	-fx-background-image: url('./images/home.png');
    -fx-background-size: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 60%;
}

.addNotifier{
	-fx-pref-height: 24px;
	-fx-background-color: linear-gradient(to right, #3399ff 0%, #3399ff 100%);
	-fx-background-radius: 5px;
	-fx-background-insets: 10px 10px;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0);
}

.circleMove{
	-fx-pref-height: 24px;
	-fx-pref-width: 24px;
	-fx-background-radius: 50%;
	-fx-background-color: #3399ff;
	-fx-background-image: url('./images/arrow.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50%;
}

.circlePlus{
	-fx-pref-height: 24px;
	-fx-pref-width: 24px;
	-fx-background-radius: 50%;
	-fx-background-color: #3399ff;
	-fx-background-image: url('./images/plus.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50%;
}