.button{
    -fx-background-color: white;
    -fx-border-color: silver;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover{
    -fx-background-color: lightgrey;
    -fx-border-color: darkgrey;
}

.button:pressed {
    -fx-background-color: linear-gradient(from 0px 0px to 0px 5px, darkgrey, silver);
}


.undoButton{
	-fx-pref-height: 32px;
    -fx-pref-width: 32px;
    -fx-background-image: url('undo.png');
    -fx-background-size: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}

.redoButton{
	-fx-pref-height: 32px;
    -fx-pref-width: 32px;
    -fx-background-image: url('redo.png');
    -fx-background-size: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}

.mapLabel{
	-fx-font-weight: bold;
}